*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EDEEF0;
    z-index: 10000;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #9198A2;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#contact {
    padding-top: 75px;
}

#hero{
    width: 100%;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center; 
}

#hero .hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero .hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero-text{
    width: 80%;
    margin: 0 auto;
}

#hero .hero-text h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .hero-text p {
    text-align: justify;
    line-height: 40px;

}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

form label{
    display: block;
}

form input{
    width: 100%;
}

#footer{
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    grid-template-rows: 100px;   
    justify-content: center;
    align-items: center;
}

#footer .footer-nav {
    margin-top: 100px;
}

#footer .footer-nav .logo{
    text-decoration: none;
    font-weight: 500;
}
#footer .footer-nav ul{
    display: flex;
    text-align: center;
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#footer .footer-nav a:hover{
    color: #7b9fbb;
}

#footer .footer-nav .logo:hover {
    color: black;
}

#footer .footer-texts {
    margin-top: 60px;
}

#footer .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

#footer .footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}

#contact h2{
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
}

.button-contact{
    padding: 20px 50px;
    border: none;
    background-color: #9198A2;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

