*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #7b9fbb;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#hero{
    width: 100%;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center; 
}

.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    width: 80%;
    margin: 0 auto;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-text p {
    margin-top: 30px;
    text-align: justify;
    line-height: 40px;
}

.suscribete {
    display: grid;
    place-items: center;
}

#contact form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}

#contact form label{
    display: block;
}

#contact form input{
    width: 100%;
}

.suscribete h2, .informacion h3{
    margin: 30px 0;
    font-size: 32px;
    font-weight: 600;
    color: #4A525D;
    letter-spacing: 1.5px;
    text-align: center;
}

.button-contact{
    margin: 30px 0px;
    padding: 18px 70px;
    border: none;
    background-color: #7b9fbb;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: all 0.3s;
}

.button-contact:hover{
    background-color: #93bbda;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion .container-informacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-informacion .container-text {
    width: 80%;
    height: 100%;
    margin: 0px 30px;
    padding: 15px 45px;
    border: 3px solid #9198A2;
    border-radius: 30px;
    text-align: center;
}

.container-informacion .container-text h4{
    font-size: 16px;
}

.informacion .informacion-ubicacion {
    margin: 40px 0px;
}

#footer{
    margin-top: 100px;
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-nav {
    padding-top: 40px;
}

.footer-nav ul{
    display: flex;   
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

.footer-nav .logo{
    font-size: 32px;
    text-decoration: none;
    font-weight: 400;
}

.footer-nav a:hover{
    color: #7b9fbb;
}

.footer-nav .logo:hover {
    color: black;
}

.footer-texts {
    margin-top: 40px;
}

 .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

.footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}

