*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EDEEF0;
    z-index: 10000;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #9198A2;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#contact {
    padding-top: 75px;
}
#hero{
    width: 100%;
    height: 800px;
    background-color: #EDEEF0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    
}

#hero .hero-image{
    margin-left: 10%;
}

#hero .hero-text{
    position:absolute;
    right: 0;
}

#hero .hero-text h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .hero-text p {
    width: 50%;
    text-align: justify;
}

form{
    text-align: center;
}

form label{
    display: block;
}

footer{
    background-color: #EDEEF0;
    text-align: center;
}

footer .footer-container{
    padding: 30px;
}
footer ul{
    display: flex;
    text-align: center;
    margin:20px;
}

footer ul li{
    padding: 0 20px;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

.footer-container .logo{
    margin-top: 20px;
}

#contact h2{
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
}

.button-contact{
    padding: 20px 50px;
    border: none;
    background-color: #9198A2;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

