*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #7b9fbb;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#hero{
    width: 100%;
    padding-top: 100px;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center; 
}

#hero .hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero .hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero-text{
    width: 60%;
    margin: 0 auto;
}

#hero .hero-text h1{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .hero-text p {
    padding-top: 40px;
    text-align: justify;
    line-height: 40px;

}

#hero .hero-text h2{
    margin-top: 50px;
    font-size: 90px;
    font-weight: 500;
    color: #848893;
}

.product {
    text-align: center;
}

#productos h3{
    margin-top: 50px;
    color: #4A525D ;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: 2px;
}

#productos .productos-arrow{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center;
}

#productos .productos-arrow .icons{
    margin: 0 auto;
}

#productos .container-productos {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    grid-gap: 40px;
}

#productos .product img {
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}

#productos .product h4{
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}

#productos .icons {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #CCCDCE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

#productos .icons:hover {
    cursor: pointer;
    background-color: #a2bbce;
}

#nuevaColeccion{
    width: 70%;
    margin: 0 auto;
    margin-top:150px;
    display: flex;
    flex-direction: row;
}

#nuevaColeccion .contenedor-imagen img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#nuevaColeccion .contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    padding-left: 80px;
}

#nuevaColeccion .contenedor-imagen{
    text-align: left;
}

#nuevaColeccion .contenedor-texto h3{
    font-size: 32px;
    color: black;
    font-weight: 600;
    margin: 20px 0px;
}

#galeria{
    text-align: center;
}

#galeria h4{
    margin:80px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #4A525D;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#galeria .galeria-imagenes{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    
}

#galeria .galeria-imagenes img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#galeria .galeria-imagenes .galeria-img:nth-child(1){
    grid-row-start: span 2;
}
#escogernos {
    margin-bottom: 80px;
}
#escogernos .escogernos-container{
    display: grid;
    grid-template-columns: 60% 40%;
}

#escogernos h2{
    font-size: 32px;
    text-align: center;
    margin: 80px 0px;
    letter-spacing: 2px;
    color: #4A525D;
}

#escogernos .escogernos-puntos{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    align-content: center;
    gap: 40px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;

}

#escogernos .escogernos-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#escogernos .escogernos-img img{
    height: 100%;
    width: 80%;
    object-fit: cover;
}

#escogernos .escogernos-puntos .escogernos-pts{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
}

#escogernos .punto-circular{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #BBCEDD;
}

#escogernos .escogernos-puntos h4 {
    font-size: 32px;
    font-weight: 600;
    padding: 10px 0;
}

#escogernos .escogernos-puntos h5{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

#footer{
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    grid-template-rows: 100px;   
    justify-content: center;
    align-items: center;
}

#footer .footer-nav {
    margin-top: 100px;
}

#footer .footer-nav .logo{
    text-decoration: none;
    font-weight: 500;
}
#footer .footer-nav ul{
    display: flex;
    text-align: center;
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#footer .footer-nav a:hover{
    color: #7b9fbb;
}

#footer .footer-nav .logo:hover {
    color: black;
}

#footer .footer-texts {
    margin-top: 60px;
}

#footer .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

#footer .footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    header .menu ul li {
        padding: 15px 20px; 
    }
    
    header .menu .logo,
    footer .logo {
        padding-right: 20px; 
    }
    
    #hero {
        grid-template-columns: 100%; 
        align-items: center;
    }
    
    #hero .hero-text {
        width: 90%; 
        text-align: center;
    }
    
    #hero .hero-text h1 {
        font-size: 32px; 
    }
    
    #hero .hero-text h2 {
        font-size: 60px; 
    }
    
    #productos .container-productos {
        grid-template-columns: 100%; 
    }

    #productos .icons-style{
        display: none;
    }

    #nuevaColeccion,
    #galeria,
    #escogernos {
        width: 100%; 
    }
    
    #nuevaColeccion .contenedor-texto {
        padding: 20px; 
    }
    
    #nuevaColeccion .contenedor-texto h3 {
        font-size: 24px; 
    }
    
    #galeria .galeria-imagenes{
        grid-template-columns: repeat(1,1fr); 
        gap: 30px; 
    }
    #escogernos .escogernos-puntos {
        grid-template-columns: repeat(1,1fr); 
        gap: 30px; 
    }
    
    #footer ul li {
        padding: 10px 20px;
        width: auto;
    }

    #footer .footer-texts {
        margin-top: 30px;
    }

    #footer .footer-texts ul .text-weight {
        font-weight: 600;
    }

    #footer .footer-texts ul li {
        padding: 10px 0;
    }

    #footer .footer-texts p {
        margin: 30px 0px;
        font-weight: 500;
        font-size: 16px;
    }
}