*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header .navbar{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
}

header .navbar-padding{
    padding: 0 250px;
}

.navbar-collapse ul li {
    list-style: none;
    padding-left: 30px;
}

.navbar-collapse ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-collapse ul li a:hover {
    color: #7b9fbb;
}

.navbar-brand{
    font-size: 30px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#hero{
    width: 100%;
    padding-top: 100px;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center; 
}

.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    width: 60%;
    margin: 0 auto;
}

.hero-text h1{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-text p {
    padding-top: 40px;
    text-align: justify;
    line-height: 40px;

}

.hero-text h2{
    margin-top: 50px;
    font-size: 90px;
    font-weight: 500;
    color: #848893;
}

#nuevaColeccion, 
#galeria ,
#escogernos {
    margin: 0 auto;
}

#productos h3{
    margin-top: 50px;
    color: #4A525D ;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: 2px;
}

.container-productos {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    grid-gap: 40px;
}

.product {
    text-align: center;
}

#productos .product img {
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}

#productos .product h4{
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}

#nuevaColeccion{
    width: 70%;
    margin-top:150px;
    display: flex;
    flex-direction: row;
}

.contenedor-imagen img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    padding-left: 80px;
}

.contenedor-imagen{
    text-align: left;
}

.contenedor-texto h3{
    font-size: 32px;
    color: black;
    font-weight: 600;
    margin: 20px 0px;
}

#galeria{
    text-align: center;
}

#galeria h4{
    margin:80px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #4A525D;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.galeria-imagenes{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto; 
}

.galeria-imagenes img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-imagenes .galeria-img:nth-child(1){
    grid-row-start: span 2;
}

#escogernos {
    margin-bottom: 80px;
}
#escogernos h2{
    font-size: 32px;
    text-align: center;
    margin: 80px 0px;
    letter-spacing: 2px;
    color: #4A525D;
}

.escogernos-container{
    display: grid;
    grid-template-columns: 60% 40%;
}

.escogernos-puntos{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    align-content: center;
    gap: 40px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;

}

.escogernos-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escogernos-img img{
    height: 100%;
    width: 80%;
    object-fit: cover;
}

.escogernos-puntos .escogernos-pts{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
}

.punto-circular{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #BBCEDD;
}

.escogernos-puntos h4 {
    font-size: 32px;
    font-weight: 600;
    padding: 10px 0;
}

.escogernos-puntos h5{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

#footer{
    margin-top: 100px;
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-nav {
    padding-top: 40px;
}

.footer-nav ul{
    display: flex;   
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

.footer-nav .logo{
    font-size: 32px;
    text-decoration: none;
    font-weight: 400;
}

.footer-nav a:hover{
    color: #7b9fbb;
}

.footer-nav .logo:hover {
    color: black;
}

.footer-texts {
    margin-top: 40px;
}

 .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

.footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 430px) {
    
    header .navbar-padding{
        padding: 10px;
    }
    
    .navbar-collapse ul li {
        padding-left: unset;
    }
    
    .navbar-collapse ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    #hero {
        grid-template-columns: 100%; 
        align-items: center;
    }
    
    #hero .hero-text {
        width: 90%; 
        text-align: center;
    }
    
    #hero .hero-text h1 {
        font-size: 32px; 
    }
    
    #hero .hero-text h2 {
        font-size: 60px; 
    }
    
    #productos .container-productos {
        grid-template-columns: 100%; 
    }

    #nuevaColeccion,
    #galeria,
    #escogernos {
        width: 90%; 
    }
    
    #nuevaColeccion .contenedor-texto {
        padding: 20px; 
    }
    
    #nuevaColeccion .contenedor-texto h3 {
        font-size: 24px; 
    }
    
    #galeria .galeria-imagenes{
        grid-template-columns: 100%; 
        gap: 20px; 
    }

    #escogernos .escogernos-container{
        grid-template-columns: 100%;
    }

    #escogernos .escogernos-puntos {
        grid-template-columns: 100%; 
        gap: 30px; 
    }

    #footer .footer-nav ul{
        flex-direction: column;
    }

    #footer .footer-texts {
        margin-top: 20px;
    }

    #footer ul li{
        padding: 10px 0;
    }
}