*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #7b9fbb;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#productos {
    padding: 120px 0px;
}

#productos .productos-texts {
    margin-left: 120px;
}

#productos .productos-texts h1{
    font-size: 12px;
    font-weight: 400;
    padding: 20px 0px;
    transition: all 0.3s;
}

#productos .productos-texts h1:hover {
    color: #7b9fbb;
    cursor: pointer;
}

#productos .productos-texts h2{
    font-weight: 600;
    letter-spacing: 1px;
}

#productos .container-productos{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 80px;
    grid-column-gap: 20px;
    margin-top: 50px;  
}

#productos .container-productos .product {
    max-width: 80%;
    height: 100%;
    text-align: left;
}

#productos .container-productos .product img {
    max-width: 100%;
    height: 80%; 
    object-fit: cover;
}

#productos .container-productos .product-img:hover{
    cursor: pointer;
}

#productos .container-productos .product-texts{
    padding: 20px 0px;
    font-size: 16px;
}

#productos .container-productos .product-texts p{
    padding: 10px 0px;
    font-size: 15px;
}

#footer{
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    grid-template-rows: 100px;   
    justify-content: center;
    align-items: center;
}

#footer .footer-nav {
    margin-top: 100px;
}

#footer .footer-nav .logo{
    text-decoration: none;
    font-weight: 500;
}
#footer .footer-nav ul{
    display: flex;
    text-align: center;
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#footer .footer-nav a:hover{
    color: #7b9fbb;
}

#footer .footer-nav .logo:hover {
    color: black;
}

#footer .footer-texts {
    margin-top: 60px;
}

#footer .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

#footer .footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    header .menu ul li {
        padding: 15px 20px; 
    }
    
    header .menu .logo,
    footer .logo {
        padding-right: 20px; 
    }

    #productos .container-productos {
        grid-template-columns: repeat(2, 1fr); 
    }
  
}