*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #7b9fbb;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#about-us {
    padding-top: 75px;
}

#hero{
    width: 100%;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center; 
}

#hero .hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero .hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero-text{
    width: 80%;
    margin: 0 auto;
}

#hero .hero-text h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .hero-text p {
    margin-top: 30px;
    text-align: justify;
    line-height: 40px;
}

footer{
    background-color: #EDEEF0;
    text-align: center;
}

footer .footer-container{
    padding: 30px;
}
footer ul{
    display: flex;
    text-align: center;
    margin:20px;
}

footer ul li{
    padding: 0 20px;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

.footer-container .logo{
    margin-top: 20px;
}

#contact h2{
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
}

.empresarios img{
    width: 20%;
}

#texts {
    text-align: center;
}