*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #EDEEF0;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 15px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu ul li a:hover {
    color: #7b9fbb;
}

.menu .logo, footer .logo{
    font-size: 30px;
    padding-right: 100px;
}

.menu .logo a:hover, footer .logo{
    color: black;
}

#about-us {
    padding-top: 75px;
}

#hero{
    width: 100%;
    background-color: #EDEEF0;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center; 
}

.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    width: 80%;
    margin: 0 auto;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-text p {
    margin-top: 30px;
    text-align: justify;
    line-height: 40px;
}

.hero-text .hero-button {
    margin-top: 30px;
    width: 200px;
    padding: 15px 55px;
    text-align: center;
    background-color: #848893;
    border-radius: 40px;
}

.hero-text .hero-button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s;
}

.hero-text .hero-button:hover{
    cursor: pointer;
    background-color: #537792;
}

#texts {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}

.container-texts {
    line-height: 35px;
}

.container-texts h2{
    color: #4A525D;
    margin-bottom: 20px;
}

.container-texts p{
    text-align: justify;
}

#fundadores {
    margin: 90px 0;
}

#fundadores h3{
    margin: 40px 0;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #4A525D;
}

.container-fundadores {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 80px;
}

.fundadores {
    background-color: #5d6972;
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fundadores img{
    width: 80%;
    height:70%;
    object-fit: cover;
    border-radius: 20px;
}

.fundadores p{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

#nuestraHistoria {
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin: 150px auto;
}

.contenedor-imagen img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    padding-left: 50px;
}

.contenedor-texto h3{
    font-size: 32px;
    color: black;
    font-weight: 600;
    margin: 20px 0px;
}

#footer{
    margin-top: 100px;
    background-color: #EDEEF0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

#footer ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-nav {
    padding-top: 40px;
}

.footer-nav ul{
    display: flex;   
}

#footer ul li{
    padding: 0 30px;
    list-style: none;
}

.footer-nav .logo{
    font-size: 32px;
    text-decoration: none;
    font-weight: 400;
}

.footer-nav a:hover{
    color: #7b9fbb;
}

.footer-nav .logo:hover {
    color: black;
}

.footer-texts {
    margin-top: 40px;
}

 .footer-texts ul .text-weight{
    font-weight: 600;
}

#footer .footer-texts ul li{
    padding: 10px 0;
}

.footer-texts p {
    margin: 30px 0px;
    font-weight: 500;
    font-size: 16px;
}
